@media (max-width: 1511px) {
  .large-title {
    font-size: 68px;
  }
  .sub-title {
    font-size: 30px;
  }
  .txt-name-align {
    text-align: center;
  }
}

.large-title {
  @include for-tablet-landscape-down {
    font-size: 55px;
  }
  @include for-phone-only {
    font-size: 33px;
  }
}

.small-txt {
  @include for-tablet-landscape-down {
    font-size: 30px;
  }
  @include for-phone-only {
    font-size: 18px;
  }
}

.sub-title {
  @include for-phone-only {
    font-size: 28px;
  }
}

.txt-large {
  @include for-phone-only {
    font-size: 21px;
    line-height: 28px;
  }
}
