@keyframes slide-up-down-anim {
  0% {
    top: 250%;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes slide-to-down-anim {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

@keyframes slide-from-up-anim {
  0% {
    top: -250%;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes slide-up-anim {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 100%;
  }
}

@keyframes slide-up-down-title-anim {
  0% {
    transform: translateY(69px);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-from-up-title-anim {
  0% {
    transform: translateY(-69px);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
