@import "../../assets/styles/common/variables";
@import "../../assets/styles/mixins/responsive";

.about-page {
  height: 100%;
}

.about-page-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about-page-bgc__wrap {
  position: absolute;
}

.about-page-slideshow-container {
  width: auto;
  height: auto;
  padding: 64px;
}

.slide-img-container {
  height: calc(82vh - 97px);
}

.about-down .down .about-page {
  .box-silver {
    animation: motion-to-up-scale-blur 1s ease 1 forwards;
  }
}

.down .active .about-page {
  .box-silver {
    animation: motion-scale-blur 3s 0.2s cubic-bezier(0.08, 1.13, 0.53, 1.01) 1 forwards;
  }

  // svg show
  .svg-image-constantine {
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fade-in 4.5s 1s ease 1 forwards;
  }

  .svg-triangle,
  .svg-triangle-main-constantine,
  .svg-triangle-right-constantine {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
  }

  .svg-circle-first,
  .svg-circle-second,
  .svg-circle-constantine {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
  }
  .svg-triangle {
    animation: dash 3s 0.7s ease-in 1 forwards;
  }

  .svg-triangle-main-constantine {
    animation: dash 2s 1.3s ease-in 1 forwards;
  }

  .svg-triangle-right-constantine {
    animation: dash 2s 1.6s ease-in 1 forwards;
  }
  .svg-circle-first {
    animation: dash 1s 1s ease-in 1 forwards;
  }
  .svg-circle-second {
    animation: dash 1s 2.5s ease-in 1 forwards;
  }
  .svg-circle-constantine {
    animation: dash 2s 1.5s ease-in 1 forwards;
  }
}

.up .active .about-page {
  .box-silver {
    transform: scale(0.9, 1.2) translateY(-33%);
    animation: motion-from-up-scale-blur 1s 0.4s ease-out 1 forwards;
  }
}

.up .about-page {
  .box-silver {
    animation: motion-to-down-scale-blur 1s ease 1 forwards;
  }
}

.active .about-page.slideUp {
  .about-slideshow-image {
    transform: translateX(-123%);
    opacity: 0;
    animation: slide-box-fade 3.5s cubic-bezier(0.08, 1.13, 0.53, 1.01) 1 forwards;
  }

  .txt-show-anim {
    transform: translate(0, 100%);
    opacity: 0;
    animation: fade-in-up 3s 1s cubic-bezier(0.08, 1.13, 0.53, 1.01) 1 forwards;
  }
}

.svg-image-const {
  width: 100%;
  height: 100%;
}

.about-slideshow-image {
  position: relative;
  width: 100%;
  height: 59%;
  background-color: $silver;
  box-shadow: 12px 18px 6px rgba($black, 0.23);
}

.about-slideshow-image__wrap {
  margin: 0 auto;
  transition: all 0.6s cubic-bezier(0.84, 0.46, 0.29, 1.13);
}

.about-slide-text-wrap {
  max-width: 80%;
  margin: 0 auto;
  max-height: 400px;
  transition: all 0.2s cubic-bezier(0.84, 0.46, 0.29, 1.13);
}

.about-slide-controls-wrap {
  width: 80%;
  margin: 0 auto;
}

.about-slideshow-skills-wrap {
  transition: all 0.6s cubic-bezier(0.84, 0.46, 0.29, 1.13);
}

//animation transition slide
.slide-show-enter-active,
.slide-show-leave-active {
  transition: all 0.3s;
}

.slide-show-enter-active {
  position: absolute;
  top: 25px;
  width: calc(100% - 52px);
  height: calc(100% - 50px);
  left: 26px;
}

.slide-show-enter-active {
  .about-slideshow-image__wrap,
  .about-slideshow-skills-wrap {
    transform: scale(1.2);
    opacity: 0;
  }
  .about-slide-text-wrap {
    opacity: 0;
  }
}

.slide-show-leave-active {
  .about-slideshow-image__wrap,
  .about-slideshow-skills-wrap {
    transform: scale(1.1);
    opacity: 0;
  }
  .about-slide-text-wrap {
    opacity: 0;
  }
}
//end animation transition slide

@import "./About-responsive";
