.about-page
  .about-page-container
    .about-page-bgc__wrap
      include ../../assets/img/svg/triangle-and-circles.svg
    .about-page-slideshow-container
      .box-silver.d-flex.flex-column.justify-content-space-between
        transition(name="slide-show")
          .about-slide-first.slide-img-container.d-flex.flex-column.justify-content-space-between(v-if="slide === 1")
            .about-slideshow-image.about-slideshow-image__wrap
              include ../../assets/img/svg/svg-mask-slide-first.svg
            #scroll-area.scroll-area.over-hidden
              smooth-scrollbar
                .about-slide-text-wrap
                  p.txt-large.txt-show-anim.txt-center Hi, I'm Konstantin Abramov. I am a Frontend developer and at the moment my experience is 2+ years. With great desire, ambition, dedication, sense of style and creativity, I approach every project.
        transition(name="slide-show")
          .about-slide-second.slide-img-container.d-flex.flex-column.justify-content-space-between(v-if="slide === 2")
            .about-slideshow-skills-wrap
              include ../../assets/img/svg/skills-izometric.svg
            #scroll-area.scroll-area.over-hidden
              smooth-scrollbar
                .about-slide-text-wrap
                  p.txt-large.txt-show-anim.txt-center My main skills are HTML (Pug, BEM, Bootstrap), CSS (SCSS, Animation) and JavaScirpt (Jquery, Vue.js, Node.js).
        transition(name="slide-show")
          .about-slide-second.slide-img-container.d-flex.flex-column.justify-content-space-between(v-if="slide === 3")
            .about-slideshow-skills-wrap
              include ../../assets/img/svg/html-skill.svg
            #scroll-area.scroll-area.over-hidden
              smooth-scrollbar
                .about-slide-text-wrap
                  p.txt-large.txt-show-anim.txt-center.only-device
                    | For the markup, when writing html code, I use
                    | the methodology of
                    span.txt-red-light  BEM
                    | - this allows me to make the html-code
                    | more extensible and create reusable interface components.
                    | Also, to extend the standard features of html,
                    | I actively use the
                    span.txt-red-light.txt-uppercase  pug
                    |  pre-processor and the code eventually looks more concise.
                    | Using the ready-made components and frame of the
                    span.txt-red-light  Bootstrap
                    |  framework allows me to make development even faster and adaptive.
                  p.txt-large.txt-show-anim.txt-center.talet For the markup, when writing html code, I use
                    span.txt-red-light  BEM, PUG, Bootstrap and other ...
        transition(name="slide-show")
          .about-slide-second.slide-img-container.d-flex.flex-column.justify-content-space-between(v-if="slide === 4")
            .about-slideshow-skills-wrap
              include ../../assets/img/svg/css-skill.svg
            #scroll-area.scroll-area.over-hidden
              smooth-scrollbar
                .about-slide-text-wrap
                  p.txt-large.txt-show-anim.txt-center.only-device
                    | I love style and beauty, so writing
                    span.txt-red-light  CSS
                    |  for me is always fascinating, and animating a
                    | static object gives me even more pleasure, so I
                    | get to know and develop skills in creating animations
                    | with pleasure. To extend CSS, I use the
                    span.txt-red-light  SCSS preprocessor.
                    |  Deepening knowledge and empowering with CSS allows me
                    | to recreate almost any fantasy, and for a practical polygon
                    | to create a design using tools such as
                    span.txt-red-light  Adobe XD
                    | ,
                    span.txt-red-light  Illustrator
                    | ,
                    span.txt-red-light  Photshop
                    | , then I can connect to
                    span.txt-red-light  Adobe After Effects
                    | , which allows me to predict and more clearly recreate
                    | the motion animation. And at the moment
                    | I work with
                    span.txt-red-light  SVG
                    |  graphics.
                    p.txt-large.txt-show-anim.txt-center.only-tablet
                      | I love style and beauty, so writing
                      span.txt-red-light  CSS
                      |  for me is always fascinating.
                      | To expand my skill with CSS, I use the
                      span.txt-red-light  SCSS preprocessor, SVG and AdobeXD, Illustartor, Photoshop and Adobe After Effects.
        transition(name="slide-show")
          .about-slide-second.slide-img-container.d-flex.flex-column.justify-content-space-between(v-if="slide === 5")
            .about-slideshow-skills-wrap
              include ../../assets/img/svg/js-skill.svg
            #scroll-area.scroll-area.over-hidden
              smooth-scrollbar
                .about-slide-text-wrap
                  p.txt-large.txt-show-anim.txt-center.only-device With
                    span.txt-red-light  JavaScript
                    | , we do not part with the first days of
                    | my entry into web development. From the very beginning,
                    | I was fascinated by how I could manipulate and modify the
                    | DOM tree with it, create a paralax effect, sliders,
                    | and the like, where CSS itself was already powerless.
                    | Then I made my life easier using
                    span.txt-red-light  Jquery
                    | , and studying asynchronous programming
                    | allowed me to better understand and start using
                    span.txt-red-light  Ajax
                    |  technology. But since requests to the DOM tree
                    | are too resource-intensive and already to create
                    | more complex and functional sites, such as
                    span.txt-red-light  SPA
                    |  applications, this is not enough, I gradually
                    | became more experienced in using the
                    span.txt-red-light  Angular.js
                    |  framework and partially affected
                    span.txt-red-light  Angular 2+
                    | . And when I met
                    span.txt-red-light  Vue.js
                    | , I realized that this is what I need and
                    | have been studying and working with
                    span.txt-red-light  Vue.js
                    |  for about a year now and used in practice working with
                    span.txt-red-light  axios
                    | ,
                    span.txt-red-light  vuex
                    | ,
                    span.txt-red-light  vuetify
                    | ,
                    span.txt-red-light  vuelidate
                    | ,
                    span.txt-red-light  i18n
                    | . Also, in addition to this, I own build experience
                    | from a project from scratch on
                    span.txt-red-light  Gulp.js
                    |  and on
                    span.txt-red-light  Webpack
                    | . And in order that it doesn’t bother me much, I also
                    | sometimes, well, quite sometimes, I study and practice with
                    span.txt-red-light  Node.js
                    | , developing
                    span.txt-red-light  MEAN
                    |  and
                    span.txt-red-light  MEVN
                    |  applications, a bit of practice with
                    span.txt-red-light  Firebase
                    |  applications. I also work directly with
                    span.txt-red-light  Git
                    |  and
                    span.txt-red-light  Heroku.
                  p.txt-large.txt-show-anim.txt-center.only-tablet
                    span.txt-red-light  JavaScript(ES5, ES6), Vue.js (vuex, vuetify, vueelidate), Git, Jquery, Angular.js, Node.js, Gulp.js
        .about-slide-controls-wrap.d-flex.justify-content-space-between
          .button-wrap
            transition(name="fade-in")
              button.button-reset.button-text(@click="prev" v-if="slide >= 2") prev
          .button-wrap
            transition(name="fade-in")
              button.button-reset.button-text(@click="next" v-if="slide <= 4") next