.d-flex {
  width: auto;
  height: auto;
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.align-self-center {
  align-self: center;
}