$black: #000000;
$black-light: #232323;
$white: #ffffff;
$silver: #b6b6b6;
$silver-2: #cfcfcf;
$silver-light: #dcdcdc;
$silver-light-2: #99accd;
$orange: #ffbe54;
$red-light: #f0665a;
$blue: #82aaf2;
$blue-light: #89dde0;
$dark-blue: #292d3e;
$green: #c3dc6c;
$green-2: #67ae51;

$first-anim-timing: cubic-bezier(0.075, 0.82, 0.165, 1);
$second-anim-timing: cubic-bezier(0.65, 0, 0.076, 1);

//resolutions for different screen
$md-device: 1200px;
