.home
  .home-title-container.d-flex.justify-content-center.flex-column
    .txt-anim-up__wrap.txt-title__mobile-space
      h1.home-title-txt.large-title.txt-center.title-shadow.txt-uppercase.txt-anim-up Portfolio
    .txt-anim-up__wrap.txt-title__mobile-space
      p.large-title.txt-center.title-shadow.txt-uppercase.txt-anim-up Your dreams on
       span.small-txt  the
       | web
    .txt-anim-up__wrap.txt-title__mobile-space
      p.sub-title.title-shadow.txt-anim-up.sub-title__home.txt-name-align Konstantin Abramov